@font-face {
  font-family: "Now";
  src: url("src/Now-Regular.otf");
}
* {
  margin: 0rem;
}

html {
  font-size: 10px;
  font-family: Now, "Courier New", Courier, monospace;
  scroll-behavior: smooth;
}

body {
  background: white;
}
body #load{
	position: fixed;		
	left: 50%;
    top: 50%;				
    padding: 100%;
    background: white;
    color:black;
    font-size:20px;
    opacity:1;
    visibility: visible;
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
    z-index: 10;
    
	  transition:600ms;
}
body #load .preload-txt{
    width: 100ch;
}
body #load.done{
	visibility: hidden;
	opacity:0;
	z-index: -10;
}

body .background {
  position: fixed;
  top: 40%;
  left: 60%;
  -webkit-transition: 600ms;
  transition: 600ms;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
body .background .clock {
  width: 20rem;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("src/clock.png"), #ebebeb;
  background-size: cover;
  border: 4px solid #000000;
  border-radius: 50%;
  -webkit-box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3), inset 0 15px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05), inset 0 -15px 15px rgba(255, 255, 255, 0.05), 0 15px 15px rgba(0, 0, 0, 0.3), inset 0 15px 15px rgba(0, 0, 0, 0.3);
}
body .background .clock .hour, body .background .clock .min, body .background .clock .sec {
  position: absolute;
}
body .background .clock .hour, body .background .clock .hr {
  width: 9rem;
  height: 9rem;
}
body .background .clock .min, body .background .clock .mn {
  width: 12rem;
  height: 12rem;
}
body .background .clock .sec, body .background .clock .sc {
  width: 15rem;
  height: 15rem;
}
body .background .clock .hr, body .background .clock .mn, body .background .clock .sc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  border-radius: 50%;
}
body .background .clock .hr::before {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 5rem;
  background: #669bfd;
  z-index: -6;
  border-radius: 5px 5px 0 0;
}
body .background .clock .mn::before {
  content: "";
  position: absolute;
  width: 0.4rem;
  height: 6rem;
  background: #669bfd;
  z-index: -5;
  border-radius: 5px 5px 0 0;
}
body .background .clock .sc::before {
  content: "";
  position: absolute;
  width: 0.2rem;
  height: 9rem;
  background: black;
  z-index: -4;
  border-radius: 5px 5px 0 0;
}
body .background .clock::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background: black;
  border-radius: 50%;
  z-index: 1;
}
body .background.fade {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}
body .container {
  position: relative;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: 600ms;
  transition: 600ms;
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
  overflow: scroll;
}
body .container section {
  padding-top: 50vh;
  scroll-snap-align: start;
}
body .container #navmobile {
  cursor: pointer;
  position: fixed;
  margin: 1rem;
  padding: 1rem;
  font-size: 3rem;
  top: 0%;
  right: 0%;
  z-index: 5;
  -webkit-transition: 600ms;
  transition: 600ms;
}
body .container #navmobile.active {
  opacity: 0;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
body .container ul {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  left: 100%;
  width: 100vw;
  height: 100vh;
  margin: 0rem;
  padding: 0;
  background-color: black;
  color: white;
  z-index: 5;
  -webkit-transition: 600ms;
  transition: 600ms;
}
body .container ul .close {
  cursor: pointer;
  position: inherit;
  right: 0%;
  margin: 1rem;
  padding: 1rem;
  font-size: 3rem;
  -webkit-transition: 600ms;
  transition: 600ms;
}
body .container ul .close.active {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
body .container ul li {
  cursor: pointer;
  position: relative;
  top: 30%;
  bottom: auto;
  padding: 1rem;
  list-style: none;
  margin: 1.5rem;
  text-align: center;
  -webkit-transform: scale(1);
          transform: scale(1);
}
body .container ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
body .container ul.active {
  left: 10%;
  visibility: visible;
  opacity: 0.95;
}
body .container .title {
  font-size: 2rem;
  font-weight: bold;
}
body .container .title-2 {
  font-size: 1.8rem;
  font-weight: bold;
}
body .container .title-3 {
  font-size: 1.5rem;
  font-weight: bold;
}
body .container .home {
  opacity: 0;
  position: relative;
  top: 70%;
  z-index: 4;
  margin: 2rem;
}
body .container .home .name {
  -webkit-transition: 600ms;
  transition: 600ms;
  font-size: 2.4rem;
}
body .container .home .bio {
  font-size: 1rem;
}
body .container .home .explore {
  background-color: black;
  border-radius: 5px;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  margin-top: 10px;
  cursor: pointer;
}
body .container .home .explore:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
body .container .about {
  position: relative;
  margin: 2rem;
  z-index: 4;
  padding-bottom: 10vh;
}
body .container .skills {
  position: relative;
  padding-top: 20vh;
  margin: 2rem;
  z-index: 4;
}
body .container .skills div {
  position: relative;
}
body .container .skills .language .skillbox {
  opacity: 0.8;
  margin: 5px;
}
body .container .skills .language .skillbox .percentage {
  background-color: #d8d8d8;
  border-radius: 5px;
}
body .container .skills .language .skillbox .percentage div {
  border-radius: 5px;
  padding-left: 3px;
}
body .container .skills .language .skillbox #c {
  background-color: #4f89f5;
  width: 85%;
  color: white;
  padding-left: 5px;
}
body .container .skills .language .skillbox #cpp {
  background-color: #3402a7;
  width: 90%;
  color: white;
  padding-left: 5px;
}
body .container .skills .language .skillbox #cs {
  background-color: #4e4eca;
  width: 70%;
  color: white;
  padding-left: 5px;
}
body .container .skills .language .skillbox #java {
  background-color: #b45608;
  width: 75%;
  color: white;
  padding-left: 5px;
}
body .container .skills .language .skillbox #py {
  background-color: #1463da;
  width: 80%;
  color: white;
  padding-left: 5px;
}
body .container .skills .language .skillbox #kt {
  background-color: #123f92;
  width: 60%;
  color: white;
  padding-left: 5px;
}
body .container .skills .language .skillbox #go {
  background-color: #4f9ffa;
  width: 60%;
  color: white;
  padding-left: 5px;
}
body .container .skills .language .skillbox #html {
  background-color: #ff8800;
  width: 95%;
  color: white;
  padding-left: 5px;
}
body .container .skills .language .skillbox #css {
  background-color: #8ac1ff;
  width: 75%;
  color: white;
  padding-left: 5px;
}
body .container .skills .language .skillbox #js {
  background-color: #f8fa76;
  width: 60%;
  color: black;
  padding-left: 5px;
}
body .container .skills .language .skillbox #php {
  background-color: #7699fa;
  width: 50%;
  color: white;
  padding-left: 5px;
}
body .container .skills .language .skillbox #sketch {
  background-color: black;
  width: 80%;
  color: white;
  padding-left: 5px;
}
body .container .skills .language .skillbox #digi {
  background-color: #ffc493;
  width: 80%;
  color: black;
  padding-left: 5px;
}
body .container .skills .language .skillbox #logo {
  background-color: #ff3b3b;
  width: 70%;
  color: white;
  padding-left: 5px;
}
body .container .skills .language .skillbox #threed {
  background-color: #fdff70;
  width: 65%;
  color: black;
  padding-left: 5px;
}
body .container .skills .language .skillbox #twod {
  background-color: #7473ac;
  width: 70%;
  color: white;
  padding-left: 5px;
}
body .container .contact_me {
  position: relative;
  padding-top: 20vh;
  margin: 0;
  margin: 0.5rem;
  color: black;
  text-align: center;
  border-radius: 5px;
  background-color: transparent;
  z-index: 4;
}
body .container .contact_me form input[type=text], body .container .contact_me form input[type=email] {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid black;
  padding: 14px 10px;
  width: 88vw;
  outline: none;
  color: black;
  border-radius: 24px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
body .container .contact_me form input[type=text]:focus, body .container .contact_me form input[type=email]:focus {
  background-color: transparent;
  width: 90vw;
  border-color: #1ca1c2;
}
body .container .contact_me form input[type=submit] {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid black;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 24px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
}
body .container .contact_me form input[type=submit]:hover {
  background: black;
  color: white;
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
}
body .container .contact_me form textarea {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid black;
  padding: 14px 10px;
  width: 88vw;
  outline: none;
  color: black;
  border-radius: 24px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
body .container .contact_me form textarea:focus {
  width: 90vw;
  border-color: #1ca1c2;
}
body .container .contact_me .socials::before {
  content: "Follow Me";
}
body .container .contact_me .socials {
  margin-top: 5rem;
  display: grid;
  grid-auto-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}
body .container ::-webkit-input-placeholder {
  font-family: Now;
}
body .container ::-moz-placeholder {
  font-family: Now;
}
body .container :-ms-input-placeholder {
  font-family: Now;
}
body .container ::-ms-input-placeholder {
  font-family: Now;
}
body .container ::placeholder {
  font-family: Now;
}
body .container .game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}
body .container footer {
  font-size: 1rem;
  text-align: center;
  color: white;
  background-color: black;
  padding: 5px;
}

@-webkit-keyframes left-in {
  from {
    left: -10%;
    opacity: 0;
  }
  to {
    left: 0%;
    opacity: 1;
  }
}

@keyframes left-in {
  from {
    left: -10%;
    opacity: 0;
  }
  to {
    left: 0%;
    opacity: 1;
  }
}
@-webkit-keyframes right-in {
  from {
    left: 105%;
    opacity: 0;
  }
  to {
    left: 0%;
    opacity: 1;
  }
}
@keyframes right-in {
  from {
    left: 105%;
    opacity: 0;
  }
  to {
    left: 0%;
    opacity: 1;
  }
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: translate(0, -50%) rotate(0deg);
            transform: translate(0, -50%) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(0, -50%) rotate(180deg);
            transform: translate(0, -50%) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(0, -50%) rotate(360deg);
            transform: translate(0, -50%) rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: translate(0, -50%) rotate(0deg);
            transform: translate(0, -50%) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(0, -50%) rotate(180deg);
            transform: translate(0, -50%) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(0, -50%) rotate(360deg);
            transform: translate(0, -50%) rotate(360deg);
  }
}
@media screen and (max-width: 500) {
  html {
    font-size: 10px;
  }
}
@media screen and (max-width: 600) {
  html {
    font-size: 11px;
  }
}
@media screen and (max-width: 700) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 800) {
  html {
    font-size: 14px;
  }
}
@media all and (orientation: landscape) {
  body .background {
    position: fixed;
    top: 50%;
    left: 80%;
    -webkit-transition: 600ms;
    transition: 600ms;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  body .background .clock {
    width: 30rem;
    height: 30rem;
    border: 8px solid #000000;
  }
  body .background .clock .hour, body .background .clock .hr {
    width: 15rem;
    height: 15rem;
  }
  body .background .clock .min, body .background .clock .mn {
    width: 19rem;
    height: 19rem;
  }
  body .background .clock .sec, body .background .clock .sc {
    width: 21rem;
    height: 21rem;
  }
  body .background .clock .hr::before {
    width: 0.9rem;
    height: 8rem;
  }
  body .background .clock .mn::before {
    width: 0.5rem;
    height: 10rem;
  }
  body .background .clock .sc::before {
    width: 0.3rem;
    height: 13rem;
  }
  body .background .clock::before {
    width: 1.7rem;
    height: 1.7rem;
  }
  body .container #navmobile {
    visibility: hidden;
    cursor: pointer;
    position: fixed;
    margin: 1rem;
    padding: 1rem;
    font-size: 3rem;
    right: 0%;
  }
  body .container ul {
    opacity: 1;
    position: fixed;
    visibility: visible;
    top: 0%;
    left: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
    height: auto;
    background-color: black;
    color: white;
    -webkit-transition: 600ms;
    transition: 600ms;
    z-index: 5;
  }
  body .container ul .close {
    visibility: hidden;
  }
  body .container ul li {
    top: 0;
    padding: 0.5rem;
    margin: 0.5rem;
    border: none;
  }
  body .container .contact_me form input[type=text], body .container .contact_me form input[type=email] {
    width: 50vw;
  }
  body .container .contact_me form input[type=text]:focus, body .container .contact_me form input[type=email]:focus {
    width: 55vw;
  }
  body .container .contact_me form textarea {
    width: 50vw;
  }
  body .container .contact_me form textarea:focus {
    width: 55vw;
  }
  body .home {
    top: 0%;
  }
}/*# sourceMappingURL=style.css.map */
