@font-face {
    font-family: "Now";
    src: url("src/Now-Regular.otf");
}
*{
    margin: 0rem;
}

html{
    font-size: 10px;
    font-family: Now, 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}
body{
    
    background: white;
    .background{
        position: fixed;
        top: 40%;
        left: 60%;
        transition: 600ms;
        transform: translate(-50%, -50%);
        .clock{
            width: 20rem;
            height: 20rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background: url("src/clock.png"), #ebebeb;
            background-size: cover;
            border: 4px solid #000000;
            border-radius: 50%;
            box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
                        inset 0 -15px 15px rgba(255, 255, 255, 0.05),
                        0 15px 15px rgba(0, 0, 0, 0.3),
                        inset 0 15px 15px rgba(0, 0, 0, 0.3);
            .hour, .min, .sec{
                position: absolute;
            }
            .hour, .hr{
                width: 9rem;
                height: 9rem;
            }
            .min, .mn{
                width: 12rem;
                height: 12rem;
            }
            .sec, .sc{
                width: 15rem;
                height: 15rem;
            }
            .hr, .mn, .sc{
                display: flex;
                justify-content: center;
                //align-items: center;
                position: absolute;
                border-radius: 50%;
            }
            .hr::before{
                content: "";
                position: absolute;
                width: 0.8rem;
                height: 5rem;
                background: #669bfd;
                z-index: -6;
                border-radius: 5px 5px 0 0;
            }
            .mn::before{
                content: "";
                position: absolute;
                width: 0.4rem;
                height: 6rem;
                background: #669bfd;
                z-index: -5;
                border-radius: 5px 5px 0 0;
            }
            .sc::before{
                content: "";
                position: absolute;
                width: 0.2rem;
                height: 9rem;
                background: black;
                z-index: -4;
                border-radius: 5px 5px 0 0;
            }
        }
        .clock::before{
            content: "";
            position: absolute;
            width: 1.5rem;
            height: 1.5rem;
            background: black;
            border-radius: 50%;
            z-index: 1;
        }
    }
    .background.fade{
        filter: blur(3px);
    }
    .container{
        position: relative;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        transition: 600ms;
        scroll-snap-type: mandatory;
        overflow:scroll;
        section{
            padding-top: 50vh;
            scroll-snap-align: start;
        }
        #navmobile{
            cursor: pointer;
            position: fixed;
            margin: 1rem;
            padding: 1rem;
            font-size: 3rem;
            top: 0%;
            right: 0%;
            transition: 600ms;
        }
        #navmobile.active{
            opacity: 0;
            transform: rotate(360deg);
        }
        ul{ 
            visibility: hidden;
            opacity: 0;
            position: fixed;
            left: 100%;
            width: 100vw;
            height: 100vh;
            margin: 0rem;
            padding: 0;
            background-color: black;
            color: white;
            z-index: 5;
            transition: 600ms;
            .close{
                cursor: pointer;
                position: inherit;
                right: 0%;
                margin: 1rem;
                padding: 1rem;
                font-size: 3rem;
                
                transition: 600ms;
            }
            .close.active{
                transform: rotate(360deg);
            }
            li{
                cursor: pointer;
                position: relative;
                top: 30%;
                bottom: auto;
                padding: 1rem;
                list-style: none;
                margin: 1.5rem;
                text-align: center;
                transform: scale(1);
            }
            li:hover{
                transform: scale(1.1);
            }

        }
        ul.active{
            left: 10%;
            visibility: visible;
            opacity: 0.95;
        }
        .title{
            font-size: 2rem;
            font-weight: bold;
        }
        .title-2{
            font-size: 1.8rem;
            font-weight: bold;
        }
        .title-3{
            font-size: 1.5rem;
            font-weight: bold;
        }
        .home{
            opacity: 0;
            position: relative;
            top: 70%;
            z-index: 4;
            .name{
                transition: 600ms;
                font-size: 2.4rem;
            }
            .bio{
                font-size: 1rem;
            }
            .explore{
                background-color: black;
                border-radius: 5px;
                color: white;
                width: fit-content;
                padding: 5px;
                margin-top: 10px;
                cursor: pointer;
            }
            .explore:hover{
                transform: scale(1.1);
            }
            margin: 2rem;
        }
        .about{
            position: relative;

            margin: 2rem;
            z-index: 4;
            padding-bottom: 10vh;
        }

        .skills{
            position: relative;

            padding-top: 20vh;
            margin: 2rem;
            z-index: 4;
            div{
                position: relative;
            }
            .language{
               
                .skillbox{
                    opacity: 0.8;
                    margin: 5px;
                    .percentage{
                        background-color: rgb(216, 216, 216);
                        border-radius: 5px;
                       
                        div{
                            border-radius: 5px;
                            padding-left: 3px;
                        }
                    }
                    #c{
                        background-color: rgb(79, 137, 245);
                        width: 85%;
                        color: white;
                        padding-left: 5px;
                    }
                    #cpp{
                        background-color: rgb(52, 2, 167);
                        width: 90%;
                        color: white;
                        padding-left: 5px;
                    }
                    #cs{
                        background-color: rgb(78, 78, 202);
                        width: 70%;
                        color: white;
                        padding-left: 5px;
                    }
                    #java{
                        background-color: rgb(180, 86, 8);
                        width: 75%;
                        color: white;
                        padding-left: 5px;
                    }
                    #py{
                    background-color: rgb(20, 99, 218);
                    width: 80%;
                    color: white;
                    padding-left: 5px;
                    }
                    #kt{
                        background-color: rgb(18, 63, 146);
                        width: 60%;
                        color: white;
                        padding-left: 5px;
                    }
                    #go{
                        background-color: rgb(79, 159, 250);
                        width: 60%;
                        color: white;
                        padding-left: 5px;
                    }
                    #html{
                        background-color: rgb(255, 136, 0);
                        width: 95%;
                        color: white;
                        padding-left: 5px;
                    }
                    #css{
                        background-color: rgb(138, 193, 255);
                        width: 75%;
                        color: white;
                        padding-left: 5px;
                    }
                    #js{
                        background-color: rgb(248, 250, 118);
                        width: 60%;
                        color: black;
                        padding-left: 5px;
                    }
                    #php{
                        background-color: rgb(118, 153, 250);
                        width: 50%;
                        color: white;
                        padding-left: 5px;
                    }
                    #sketch{
                        background-color: rgb(0, 0, 0);
                        width: 80%;
                        color: white;
                        padding-left: 5px;
                    }
                    #digi{
                        background-color: rgb(255, 196, 147);
                        width: 80%;
                        color: black;
                        padding-left: 5px;
                    }
                    #logo{
                        background-color: rgb(255, 59, 59);
                        width: 70%;
                        color: white;
                        padding-left: 5px;
                    }
                    #threed{
                        background-color: rgb(253, 255, 112);
                        width: 65%;
                        color: black;
                        padding-left: 5px;
                    }
                    #twod{
                        background-color: rgb(116, 115, 172);
                        width: 70%;
                        color: white;
                        padding-left: 5px;
                    }
                }
            }
        }
        .contact_me{
            position: relative;
            padding-top: 20vh;
            margin: 0;
            margin: 0.5rem;
            color: black;
            text-align: center;
            border-radius: 5px;
            background-color: transparent;
            z-index: 4;
            form{
                input[type="text"], input[type="email"]{
                    background: none;
                    display: block;
                    margin: 20px auto;
                    text-align: center;
                    border: 2px solid black;
                    padding: 14px 10px;
                    width: 88vw;
                    outline: none;
                    color: black;
                    border-radius: 24px;
                    transition: 0.25s;
                    &:focus{
                        background-color: transparent;
                        width: 90vw;
                        border-color: #1ca1c2;
                    }
                }
    
                input[type="submit"]{
                    
                    background: none;
                    display: block;
                    margin: 20px auto;
                    text-align: center;
                    border: 2px solid black;
                    padding: 14px 40px;
                    outline: none;
                    color: black;
                    border-radius: 24px;
                    transition: 0.25s;
                    cursor: pointer;
                    &:hover{
                        background: black;
                        color: white;
                        box-shadow: 0 0 20px black;
                    }
                }
                textarea{
                    background: none;
                    display: block;
                    margin: 20px auto;
                    text-align: center;
                    border: 2px solid black;
                    padding: 14px 10px;
                    width: 88vw;
                    outline: none;
                    color: black;
                    border-radius: 24px;
                    transition: 0.25s;
                    &:focus{
                         width: 90vw;
                         border-color: #1ca1c2;
                    }
                }
            }
            .socials::before{
                content: "Follow Me";
            }
            .socials{
                margin-top: 5rem;
                display: grid;
                grid-auto-flow: row;
                justify-content: center;
                gap: 1rem;
            }
        }
        ::placeholder{
            font-family: Now;
        }
        .game{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            text-align: center;
        }
        footer{
            font-size: 1rem;
            text-align: center;
            color: white;
            background-color: black;
            padding: 5px;
        }
    }
    
}
@keyframes left-in{
    from{
        left: -10%;
        opacity: 0;
    }
    to{
        left: 0%;
        opacity: 1;
    }
}
@keyframes right-in{
    from{
        left: 105%;
        opacity: 0;
    }
    to{
        left: 0%;
        opacity: 1;
    }
}
@keyframes rotation{
    0%{
        transform: translate(0, -50%) rotate(0deg);
    }
    50%{
        transform: translate(0, -50%) rotate(180deg);
    }
    100%{
        transform: translate(0, -50%) rotate(360deg);
    }
}
@media screen and (max-width: 500) {
    html{
        font-size: 10px;
    }    
}
@media screen and (max-width: 600) {
    html{
        font-size: 11px;
    }    
}
@media screen and (max-width: 700) {
    html{
        font-size: 12px;
    }    
}
@media screen and (max-width: 800) {
    html{
        font-size: 14px;
    }    
}
@media all and (orientation: landscape){
        body{
            .background{
            position: fixed;
            top: 50%;
            left: 80%;
            transition: 600ms;
            transform: translate(-50%, -50%);
            .clock{
                width: 30rem;
                height: 30rem;
                border: 8px solid #000000;
                .hour, .hr{
                    width: 15rem;
                    height: 15rem;
                }
                .min, .mn{
                    width: 19rem;
                    height: 19rem;
                }
                .sec, .sc{
                    width: 21rem;
                    height: 21rem;
                }
                
                .hr::before{
                    width: 0.9rem;
                    height: 8rem;
                }
                .mn::before{
                    width: 0.5rem;
                    height: 10rem;
                }
                .sc::before{
                    width: 0.3rem;
                    height: 13rem;
                }
            }
            .clock::before{
                width: 1.7rem;
                height: 1.7rem;
            }
        }
            .container{
                    #navmobile{
                        visibility: hidden;
                        cursor: pointer;
                        position: fixed;
                        margin: 1rem;
                        padding: 1rem;
                        font-size: 3rem;
                        right: 0%;
                    }
                    ul{
                        opacity: 1 ;
                        position: fixed ;
                        visibility: visible;
                        top: 0% ;
                        left: 0%;
                        display: flex;
                        justify-content: center;
                        margin: 0 ;
                        padding: 0;
                        height: auto ;
                        background-color: black;
                        color: white ;
                        transition: 600ms;
                        z-index: 5 ;
                        .close{
                            visibility: hidden;
                        }
                        li{
                            top: 0 ;
                            padding: 0.5rem;
                            margin: 0.5rem;
                            border: none;
                        }
                    }
                    .contact_me{
                        form{
                            input[type="text"], input[type="email"]{
                                width: 50vw;
                                &:focus{
                                    width: 55vw;
                                }
                            }
        
                            textarea{
                                width: 50vw;
                                &:focus{
                                     width: 55vw;
                                }
                            }
                        }
                    }
            }
            .home{
                top: 0%;
            }

    }
}